extends ../layout

block script
  script(src='/javascripts/game.js')

block content
  span(
    id="infos"
    gameId= gameId
    status= status
    password= password
    style="display: none"
  )
  div(id="winnerModal")
  include components/passwordModal.pug
  div(id="flex-wrapper" style="height: 100%")
    div(id="teams" class="flex-column")
      include components/teams.pug
    div(id="board-area" class="flex-column")
      div(id="board")
    div(id="chat" class="flex-column")
      include components/chat.pug